<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Architecture">
        <activity
            android:name="com.example.feature.ui_02.Ui_02_MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:autoVerify="true"
            android:theme="@style/Theme.Architecture">
            <intent-filter
                android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />


                <data android:scheme="https"/>
                <data android:scheme="http"/>
                <data android:host="com.example.deeplink"/>
                <data android:pathPrefix="/ui02"/>
            </intent-filter>
        </activity>
    </application>

</manifest>